* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, button, label {
  font-family: "Chonburi", cursive;
}

p {
  font-family: "Merriweather", serif;
}

#header {
  display: flex;
  background-image: linear-gradient(180deg, #11052c 0%, #3d087b 63%, #f43b86 82%, #ffe459 98%, #fffeee 100%);
  width: 100%;
  height: 102vh;
  align-content: center;
}
#header .container {
  margin: auto;
}
#header h1 {
  color: #ffe459;
  font-size: 6vh;
  text-align: center;
}
@media only screen and (max-width: 672px) {
  #header h1 {
    font-size: 3.5vh;
  }
}
#header h2 {
  color: #ffe459;
  font-size: 3vh;
  text-align: center;
  margin-top: 1vh;
}
@media only screen and (max-width: 672px) {
  #header h2 {
    font-size: 2vh;
  }
}
#header button {
  display: block;
  width: 45vh;
  margin: 4vh auto;
  font-size: 4vh;
  text-align: center;
  background-color: #ffe459;
  color: #11052c;
  border: none;
  border-radius: 100vh;
  padding: 1% 0;
  cursor: pointer;
}
@media only screen and (max-width: 672px) {
  #header button {
    font-size: 2.5vh;
    width: 30vh;
  }
}
#header .circle-container {
  width: 45vh;
  margin: 0 auto;
  background-color: #11052c;
  border-radius: 50%;
}
#header .circle-container img {
  padding-top: 10%;
  padding-left: 9%;
  display: block;
  width: 100%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}
@media only screen and (max-width: 672px) {
  #header .circle-container {
    font-size: 2.5vh;
    width: 30vh;
  }
}

#info {
  display: flex;
  flex-direction: column;
  background-color: #fffeee;
}
#info h2 {
  color: #11052c;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 672px) {
  #info h2 {
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
}
#info h3 {
  color: #3d087b;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 7%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info h3 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 672px) {
  #info h3 {
    display: none;
  }
}
#info .img-click {
  position: relative;
  flex-grow: 1;
  margin: 0 auto 2%;
}
#info .img-click img {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click img {
    width: 80%;
    margin: auto;
  }
}
#info .img-click .face {
  position: absolute;
  width: 16%;
  height: 18%;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#info .img-click .chest {
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: transparent;
  top: 18%;
  left: 0;
  right: 0;
  margin: auto;
}
#info .img-click .leftarm {
  position: absolute;
  width: 35%;
  height: 8%;
  background-color: transparent;
  top: 17%;
  right: 0;
}
#info .img-click .rightarm {
  position: absolute;
  width: 35%;
  height: 8%;
  background-color: transparent;
  top: 19%;
}
#info .img-click .abs {
  position: absolute;
  width: 20%;
  height: 15%;
  background-color: transparent;
  top: 38%;
  left: 0;
  right: 0;
  margin: auto;
}
#info .img-click .thighs {
  position: absolute;
  width: 23%;
  height: 20%;
  background-color: transparent;
  top: 53%;
  left: 0;
  right: 0;
  margin: auto;
}
#info .img-click .feet {
  position: absolute;
  width: 28%;
  height: 27%;
  background-color: transparent;
  top: 73%;
  left: 0;
  right: 0;
  margin: auto;
}
#info .img-click .card {
  position: absolute;
  padding: 1.6em;
  border-radius: 1em;
  background-color: #252525;
  color: #fffeee;
  line-height: 1.5;
  height: fit-content;
}
#info .img-click .card h4 {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card h4 {
    font-size: 1rem;
  }
}
#info .img-click .card p {
  font-size: 1rem;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card p {
    font-size: 0.8rem;
  }
}
#info .img-click .card#face {
  display: none;
  width: 16em;
  right: 3%;
  top: -9%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#face {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
    width: 13.5em;
  }
}
#info .img-click .card#chest {
  display: none;
  left: 15%;
  top: 28%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#chest {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
  }
}
#info .img-click .card#leftarm {
  display: none;
  width: 15em;
  right: -15.5em;
  top: 10%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#leftarm {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
    width: 13em;
  }
}
#info .img-click .card#rightarm {
  display: none;
  width: 15.5em;
  left: -16em;
  top: 14%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#rightarm {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
    width: 13em;
  }
}
#info .img-click .card#abs {
  display: none;
  right: 23%;
  top: 43%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#abs {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
  }
}
#info .img-click .card#thighs {
  display: none;
  width: 15em;
  left: 2%;
  top: 50%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#thighs {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
    width: 13em;
  }
}
#info .img-click .card#feet {
  display: none;
  width: 17em;
  right: -7%;
  top: 75%;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #info .img-click .card#feet {
    left: 65%;
    right: auto;
    top: 30%;
    margin: auto;
    width: 13em;
  }
}

#features {
  display: none;
}
@media only screen and (max-width: 672px) {
  #features {
    display: block;
    background-color: #252525;
    color: #fffeee;
  }
}
@media only screen and (max-width: 672px) {
  #features div {
    margin: 5%;
  }
}
@media only screen and (max-width: 672px) {
  #features div h4 {
    margin-bottom: 2%;
  }
}

#cta.container {
  background-color: #11052c;
  padding: 7% 10%;
}
#cta.container h2 {
  color: #fffeee;
  text-align: center;
  font-size: 2.5rem;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #cta.container h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 672px) {
  #cta.container h2 {
    font-size: 1.7rem;
  }
}
#cta.container button {
  display: block;
  width: 37%;
  margin: 3% auto 0;
  font-size: 2.3rem;
  text-align: center;
  background-color: #ffe459;
  color: #11052c;
  border: none;
  border-radius: 10rem;
  padding: 3% 0;
  cursor: pointer;
}
@media only screen and (max-width: 1250px) and (min-width: 672px) {
  #cta.container button {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 672px) {
  #cta.container button {
    width: 50%;
    margin-top: 5%;
    font-size: 1.2rem;
  }
}

#application {
  background: radial-gradient(circle, #ffe459 12%, #f43b86 46%, #3d087b 76%, #11052c 100%);
}
#application .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fffeee;
  padding: 5% 7%;
  border-radius: 3em;
}
#application .content h1 {
  text-align: center;
  font-size: 3.5em;
  color: #11052c;
  margin-bottom: 1em;
}
@media only screen and (max-width: 672px) {
  #application .content h1 {
    font-size: 1.8em;
    margin: 1.5em 0;
  }
}
#application .content #eligibility {
  border: solid;
  border-color: #11052c;
  border-radius: 3em;
  padding: 5%;
  margin-bottom: 3em;
}
#application .content #eligibility h2 {
  color: #11052c;
  margin-bottom: 1em;
  font-size: 1.7em;
}
@media only screen and (max-width: 672px) {
  #application .content #eligibility h2 {
    font-size: 1em;
  }
}
#application .content #eligibility ul {
  padding-left: 2em;
}
#application .content #eligibility ul li {
  font-size: 1.5em;
  margin: 0.5em;
}
@media only screen and (max-width: 672px) {
  #application .content #eligibility ul li {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 672px) {
  #application .content #eligibility ul {
    padding-left: 1em;
  }
}
@media only screen and (max-width: 672px) {
  #application .content #eligibility {
    padding: 2em;
    margin-bottom: 1em;
  }
}
#application .content form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#application .content form .input {
  margin-bottom: 2em;
}
#application .content form .input label {
  position: relative;
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
@media only screen and (max-width: 672px) {
  #application .content form .input label {
    font-size: 1em;
  }
}
#application .content form .input label .warning {
  display: none;
  position: absolute;
  margin: auto;
  left: 0;
  top: -1.3em;
  content: "This field is empty!";
  color: #f43b86;
  font-size: 0.8em;
}
#application .content form .input label[for=yes-risk], #application .content form .input label[for=no-risk], #application .content form .input label[for=yes-certain], #application .content form .input label[for=no-certain] {
  display: inline;
  font-size: 1.1em;
  font-family: "Merriweather", serif;
}
@media only screen and (max-width: 672px) {
  #application .content form .input label[for=yes-risk], #application .content form .input label[for=no-risk], #application .content form .input label[for=yes-certain], #application .content form .input label[for=no-certain] {
    font-size: 0.8em;
  }
}
#application .content form .input input[type=text] {
  width: 100%;
  font-family: "Merriweather", serif;
  padding: 0.5em 1em;
  font-size: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #252525;
  border-radius: 0.5em;
  outline: none;
}
@media only screen and (max-width: 672px) {
  #application .content form .input input[type=text] {
    font-size: 0.8em;
  }
}
#application .content form .input textarea {
  resize: none;
  width: 100%;
  height: 15vh;
  font-family: "Merriweather", serif;
  font-size: 1em;
  padding: 0.7em 1em;
  line-height: 1.5;
  border-style: solid;
  border-width: 1px;
  border-color: #252525;
  border-radius: 0.5em;
  outline: none;
}
@media only screen and (max-width: 672px) {
  #application .content form .input textarea {
    font-size: 0.8em;
  }
}
#application .content form .input div {
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 672px) {
  #application .content form .input {
    margin-bottom: 0.5em;
  }
}
#application .content form button {
  width: fit-content;
  margin: auto;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border-radius: 10vh;
  border-color: #11052c;
  background-color: #ffe459;
  color: #11052c;
}
@media only screen and (max-width: 672px) {
  #application .content form button {
    font-size: 1em;
  }
}
@media only screen and (max-width: 672px) {
  #application {
    padding: 10%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5% 10%;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
