$dark-purple: #11052c;
$purple: #3d087b;
$pink: #f43b86;
$yellow: #ffe459;
$grey: #252525;
$white: #fffeee;

@mixin tablet {
    @media only screen and (max-width: 1250px) and (min-width: 672px){
        @content
    }
}

@mixin mobile {
    @media only screen and (max-width: 672px) {
        @content
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, button, label{
    font-family: 'Chonburi', cursive;
}

p {
    font-family: 'Merriweather', serif;
}